<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hamba.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
				<key>dateExpires</key>
				<string>12/06/2020</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>EVReflection.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FlagPhoneNumber.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>55C000CADF358E0AD05E1A3D71C1F87A329E4729</string>
						<key>dateExpires</key>
						<string>12/06/2020</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>PZAX82YLP2</string>
						<key>name</key>
						<string>Hadif Mohamed</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>PZAX82YLP2.com.Hamba.Hamba</string>
				<key>com.apple.developer.team-identifier</key>
				<string>PZAX82YLP2</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>PZAX82YLP2.com.Hamba.Hamba</string>
				</array>
			</dict>
			<key>name</key>
			<string>Hamba.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4ffb17ea-9944-41cc-b20d-14ced67e165d</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>PZAX82YLP2</string>
				<key>name</key>
				<string>Hadif Mohamed</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
